.heading {
    font-weight: @font-weight-bold;
    color: @color-text-dark;
}

.banner-caption {
    font-weight: @font-weight-bold;
    color: @color-text-light;
    font-size: 64px;
    text-stroke: 1px rgba(0, 0, 0, 0.31);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.31);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.heading-36 {
    &:extend(.heading);
    font-size: 36px;
}

.heading-24 {
    &:extend(.heading);
    font-size: 24px;
}

.heading-18 {
    &:extend(.heading);
    font-size: 18px;
}

.heading-14 {
    &:extend(.heading);
    font-size: 14px;
}

.text-regular {
    color: @color-text-dark;
    font-weight: @font-weight-normal;
}

.text-regular-48 {
    &:extend(.text-regular);
    font-size: 48px;
}

.text-regular-18 {
    &:extend(.text-regular);
    font-size: 18px;
}

.text-regular-16 {
    &:extend(.text-regular);
    font-size: 16px;
}

.text-regular-14 {
    &:extend(.text-regular);
    font-size: 14px;
}

.text-regular-12 {
    &:extend(.text-regular);
    font-size: 12px;
}

.text-semibold {
    color: @color-text-dark;
    font-weight: @font-weight-semi-bold;
}

.text-semibold-18 {
    &:extend(.text-semibold);
    font-size: 18px;
}

.text-semibold-16 {
    &:extend(.text-semibold);
    font-size: 16px;
}

.text-semibold-14 {
    &:extend(.text-semibold);
    font-size: 14px;
}

.text-semibold-12 {
    &:extend(.text-semibold);
    font-size: 12px;
}