html,
body {
    height: 100%;
    font-size: 18px;
    font-family: 'Roboto', serif;
    //font-family: 'Lato', sans-serif;
    //background-color: @color-dark;
    //letter-spacing: 1px;
}

//body section {
//    background-color: @color-dark;
//}

.wrapper {
    position: relative;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

.container-wide {
    max-width: 1470px;
    //padding-left: 15px;
    //padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.vk-link {
    color: #0b5ed7;
}

.btn-call {
    display: inline-block;
    border: 1px solid @color-theme-dark-grey;
    outline: none;
    background-color: @color-theme-red;
    border-radius: @border-radius-common;
    padding: 7px 25px 7px 25px;
    color: @color-text-light;
    transition: background-color .4s;

    &:hover {
        background-color: @color-theme-red-dark;
        color: @color-text-light;
    }
}

.text-color-red {
    color: @color-theme-red;
}

.link-text {
    text-decoration: none;
    color: @color-text-dark;

    &:hover {
        color: @color-text-dark;
    }
}

.link-underline {
    color: @color-text-dark;
    text-decoration: underline;

    &:hover {
        color: @color-text-dark;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}