html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
li {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}
ul[class],
ol[class] {
  padding: 0;
}
ul[class] {
  list-style: none;
}
section {
  background: #FFFFFF;
}
img {
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
html,
body {
  height: 100%;
  font-size: 18px;
  font-family: 'Roboto', serif;
}
.wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
.container-wide {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
}
.vk-link {
  color: #0b5ed7;
}
.btn-call {
  display: inline-block;
  border: 1px solid #A2A2A2;
  outline: none;
  background-color: #FF1B00;
  border-radius: 20px;
  padding: 7px 25px 7px 25px;
  color: #FFFFFF;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.btn-call:hover {
  background-color: #E31800;
  color: #FFFFFF;
}
.text-color-red {
  color: #FF1B00;
}
.link-text {
  text-decoration: none;
  color: #1B1818;
}
.link-text:hover {
  color: #1B1818;
}
.link-underline {
  color: #1B1818;
  text-decoration: underline;
}
.link-underline:hover {
  color: #1B1818;
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
.heading,
.heading-36,
.heading-24,
.heading-18,
.heading-14,
.main-menu__item,
.step__title,
.works-card__title {
  font-weight: 700;
  color: #1B1818;
}
.banner-caption,
.main-slide__title {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 64px;
  text-stroke: 1px rgba(0, 0, 0, 0.31);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.31);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.heading-36 {
  font-size: 36px;
}
.heading-24,
.main-menu__item,
.step__title {
  font-size: 24px;
}
.heading-18,
.works-card__title {
  font-size: 18px;
}
.heading-14 {
  font-size: 14px;
}
.text-regular,
.text-regular-48,
.text-regular-18,
.text-regular-16,
.text-regular-14,
.text-regular-12,
.header__city,
.request__title h2 {
  color: #1B1818;
  font-weight: 400;
}
.text-regular-48,
.request__title h2 {
  font-size: 48px;
}
.text-regular-18 {
  font-size: 18px;
}
.text-regular-16,
.header__city {
  font-size: 16px;
}
.text-regular-14 {
  font-size: 14px;
}
.text-regular-12 {
  font-size: 12px;
}
.text-semibold,
.text-semibold-18,
.text-semibold-16,
.text-semibold-14,
.text-semibold-12 {
  color: #1B1818;
  font-weight: 600;
}
.text-semibold-18 {
  font-size: 18px;
}
.text-semibold-16 {
  font-size: 16px;
}
.text-semibold-14 {
  font-size: 14px;
}
.text-semibold-12 {
  font-size: 12px;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 40px;
  z-index: 100;
}
.header__background-blur {
  background: rgba(255, 255, 255, 0.42);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header__btn-call {
  margin-left: 20px;
}
.header__city {
  margin-left: 20px;
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
}
.main-menu__item {
  display: inline-block;
  text-decoration: none;
  padding: 0 20px 0 20px;
}
.main-menu__link {
  color: inherit;
}
.main-menu__link:hover {
  color: inherit;
}
.main-menu__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.main-menu__link:hover::after {
  width: 100%;
  background: #E31800;
}
.main-slide {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
}
.main-slide__wrapper {
  padding: 280px 150px 0 150px;
}
.main-slide__title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}
.main-slide__title {
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-shadow: 0px 0px 10px black;
}
.main-slide__btn {
  margin-top: 20px;
}
.slick-dots {
  bottom: 25px !important;
}
.slick-dots > li > button::before {
  font-size: 20px;
  color: #F6F6F6;
  opacity: 0.75;
}
.slick-dots > li > button::before {
  font-size: 20px;
}
.slick-dots > li.slick-active > button::before {
  color: #FF1B00;
}
.about {
  margin-top: 100px;
  margin-bottom: 100px;
}
.about__wrapper {
  position: relative;
}
.about__content {
  margin-top: 30px;
}
.about__footer {
  margin-top: 30px;
  text-align: right;
}
.about__footer h1 {
  display: inline-block;
}
.about__line {
  position: absolute;
}
.line-top-left {
  left: -155px;
  top: -10px;
}
.line-top-right {
  right: -135px;
  top: -10px;
}
.line-bottom-left {
  left: -135px;
  bottom: -10px;
}
.line-bottom-right {
  right: -155px;
  bottom: -10px;
}
.steps {
  margin-top: 100px;
  margin-bottom: 100px;
}
.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  overflow: hidden;
  height: 360px;
  margin-top: 15px;
}
.step__content {
  text-align: left;
  padding: 30px 80px 30px 80px;
}
.step__image-container {
  height: 100%;
}
.step__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.step:first-of-type {
  margin-top: 30px;
}
.our-works {
  margin-top: 100px;
  margin-bottom: 100px;
}
.our-works__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-works__content {
  margin-top: 15px;
}
.our-works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our-works__btn-wrap {
  text-align: center;
  margin-top: 30px;
}
.works-card {
  position: relative;
  display: inline-block;
  max-width: 360px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15px;
  height: 270px;
}
.works-card:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.works-card::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(74.48%, rgba(0, 0, 0, 0)), color-stop(96.87%, rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 74.48%, rgba(0, 0, 0, 0.5) 96.87%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.48%, rgba(0, 0, 0, 0.5) 96.87%);
  width: 100%;
  height: 100%;
}
.works-card__img {
  width: 100% ;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.works-card__title {
  position: absolute;
  left: 20px;
  bottom: 15px;
  color: #FFFFFF;
  z-index: 100;
}
.request {
  margin-top: 100px;
  margin-bottom: 100px;
}
.request__wrap {
  height: 650px;
  position: relative;
  padding: 40px 40px 40px 80px;
  border-radius: 20px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.request__wrap::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: -webkit-gradient(linear, left top, right top, color-stop(23.35%, rgba(0, 0, 0, 0.42)), color-stop(61.22%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.42) 23.35%, rgba(0, 0, 0, 0) 61.22%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.42) 23.35%, rgba(0, 0, 0, 0) 61.22%);
  width: 100%;
  height: 100%;
}
.request__title {
  margin-top: 260px;
  position: relative;
  z-index: 100;
}
.request__title h2 {
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.request__form {
  display: block;
  position: relative;
  z-index: 100;
  margin-top: 20px;
}
.request-form {
  display: inline-block;
  padding: 20px;
  background: #F5F5F5;
  border-radius: 20px;
}
.request-form .form-group {
  display: inline-block;
  margin-right: 20px;
}
.request-form input {
  display: inline-block;
  max-width: 220px;
  border-radius: 20px;
  border: none;
}
.footer {
  text-align: center;
  background-color: #F6F6F6;
  padding: 15px 0 15px 0  ;
}
.footer__content {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.footer__text {
  margin-top: 11px;
}
